---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SignUpIsland from "@/components/react/islands/SignUpIsland";
---
<BaseLayout title="Sign Up">
	<div class="flex min-h-[calc(100vh-73px)] items-center justify-center px-6 py-24">
		<SignUpIsland client:only="react" />
	</div>
</BaseLayout>
